<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854118004850-ovd2d084ksdgpe4c7h0i1bir8h9q5sv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854118004850-ovd2d084ksdgpe4c7h0i1bir8h9q5sv1</string>
	<key>API_KEY</key>
	<string>AIzaSyA-tfOzeeNT_LdDAdryHcB35fculctcsD8</string>
	<key>GCM_SENDER_ID</key>
	<string>854118004850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matchpetPoc</string>
	<key>PROJECT_ID</key>
	<string>matchpet-a1542</string>
	<key>STORAGE_BUCKET</key>
	<string>matchpet-a1542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854118004850:ios:19d12e615101bb23fc6aeb</string>
</dict>
</plist>